/*!

 =========================================================
 * Paper Kit - v1.2.2
 =========================================================
 
/*      light colors - used for select dropdown         */
/*           Font Smoothing      */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .navbar, .brand, a, .td-name, td {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'Montserrat', "Helvetica", Arial, sans-serif;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  font-weight: 400;
  margin: 30px 0 15px;
}

h1, .h1 {
  font-size: 4.5em;
}

h2, .h2 {
  font-size: 3em;
}

h3, .h3 {
  font-size: 1.825em;
  line-height: 1.4;
  margin: 20px 0 10px;
}

h4, .h4 {
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.2em;
}

h5, .h5 {
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1.4em;
  margin-bottom: 15px;
}

h6, .h6 {
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
}

p {
  font-size: 16px;
  line-height: 1.4em;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
  color: #9A9A9A;
  font-weight: 300;
  line-height: 1.4em;
}

h1 small, h2 small, h3 small, h1 .small, h2 .small, h3 .small {
  font-size: 60%;
}

.title-uppercase {
  text-transform: uppercase;
}

blockquote {
  font-style: italic;
}

blockquote small {
  font-style: normal;
}

.text-muted {
  color: #DDDDDD;
}

.text-primary, .text-primary:hover {
  color: #427C89 !important;
}

.text-info, .text-info:hover {
  color: #3091B2 !important;
}

.text-success, .text-success:hover {
  color: #42A084 !important;
}

.text-warning, .text-warning:hover {
  color: #BB992F !important;
}

.text-danger, .text-danger:hover {
  color: #B33C12 !important;
}

.glyphicon {
  line-height: 1;
}

/*     General overwrite     */
body {
  color: #66615b;
  font-size: 16px;
  font-family: 'Montserrat', "Helvetica", Arial, sans-serif;
}

a {
  color: #68B3C8;
  -webkit-transition: all 150ms linear;
  -moz-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  -ms-transition: all 150ms linear;
  transition: all 150ms linear;
}
a:hover, a:focus {
  color: #3091B2;
  text-decoration: none;
}

hr {
  border-color: #F1EAE0;
}

.icon {
  fill: #66615b;
}

.fa-base {
  font-size: 1.25em !important;
}

.btn,
.navbar .navbar-nav > li > a.btn {
  border-radius: 7px;
  box-sizing: border-box;
  border-width: 2px;
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
  padding: 7px 18px;
  border-color: #66615B;
  color: #66615B;
  -webkit-transition: all 150ms linear;
  -moz-transition: all 150ms linear;
  -o-transition: all 150ms linear;
  -ms-transition: all 150ms linear;
  transition: all 150ms linear;
}
.btn-neutral {
  border-color: #FFFFFF;
  color: #FFFFFF;
}
.btn-neutral:hover, .btn-neutral:focus, .btn-neutral:active, .btn-neutral.active, .open > .btn-neutral.dropdown-toggle {
  background-color: #FFFFFF;
  color: rgba(255, 255, 255, 0.7);
  border-color: #FFFFFF;
}
.btn-neutral:hover .caret, .btn-neutral:focus .caret, .btn-neutral:active .caret, .btn-neutral.active .caret, .open > .btn-neutral.dropdown-toggle .caret {
  border-top-color: rgba(255, 255, 255, 0.7);
}
.btn-neutral.disabled, .btn-neutral.disabled:hover, .btn-neutral.disabled:focus, .btn-neutral.disabled.focus, .btn-neutral.disabled:active, .btn-neutral.disabled.active, .btn-neutral:disabled, .btn-neutral:disabled:hover, .btn-neutral:disabled:focus, .btn-neutral:disabled.focus, .btn-neutral:disabled:active, .btn-neutral:disabled.active, .btn-neutral[disabled], .btn-neutral[disabled]:hover, .btn-neutral[disabled]:focus, .btn-neutral[disabled].focus, .btn-neutral[disabled]:active, .btn-neutral[disabled].active, fieldset[disabled] .btn-neutral, fieldset[disabled] .btn-neutral:hover, fieldset[disabled] .btn-neutral:focus, fieldset[disabled] .btn-neutral.focus, fieldset[disabled] .btn-neutral:active, fieldset[disabled] .btn-neutral.active {
  background-color: transparent;
  border-color: #FFFFFF;
}
.btn-neutral.btn-fill {
  color: #FFFFFF;
  background-color: #FFFFFF;
  opacity: 1;
  filter: alpha(opacity=100);
}
.btn-neutral.btn-fill:hover, .btn-neutral.btn-fill:focus, .btn-neutral.btn-fill:active, .btn-neutral.btn-fill.active, .open > .btn-neutral.btn-fill.dropdown-toggle {
  background-color: #FFFFFF;
  color: #FFFFFF;
  border-color: #FFFFFF;
}
.btn-neutral.btn-fill .caret {
  border-top-color: #FFFFFF;
}
.btn-neutral.btn-simple:hover, .btn-neutral.btn-simple:focus, .btn-neutral.btn-simple:active, .btn-neutral.btn-simple.active, .open > .btn-neutral.btn-simple.dropdown-toggle {
  background-color: transparent;
  color: #FFFFFF;
}
.btn-neutral.btn-simple .caret {
  border-top-color: #FFFFFF;
}
.btn-neutral .caret {
  border-top-color: #FFFFFF;
}
.btn-neutral:hover, .btn-neutral:focus {
  color: #66615B;
}
.btn-neutral:active, .btn-neutral.active, .open > .btn-neutral.dropdown-toggle {
  background-color: #FFFFFF;
  color: #66615B;
}
.btn-neutral.btn-fill {
  color: #66615B;
}
.btn-neutral.btn-fill:hover, .btn-neutral.btn-fill:focus {
  color: #403D39;
}
.btn-neutral.btn-simple:active, .btn-neutral.btn-simple.active {
  background-color: transparent;
}

.btn:disabled, .btn[disabled], .btn.disabled {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.btn-simple {
  border: 0;
  padding: 7px 18px;
}
.btn-simple.btn-icon {
  padding: 7px;
}

.btn-lg {
  font-size: 20px;
  border-radius: 50px;
  padding: 11px 30px;
  font-weight: 400;
}
.btn-lg.btn-simple {
  padding: 13px 30px;
}

.btn-sm {
  font-size: 14px;
  border-radius: 26px;
  padding: 4px 10px;
}
.btn-sm.btn-simple {
  padding: 6px 10px;
}

.btn-xs {
  font-size: 12px;
  border-radius: 26px;
  padding: 2px 5px;
}
.btn-xs.btn-simple {
  padding: 4px 5px;
}

.btn-wd {
  min-width: 140px;
}

.btn-group.select {
  width: 100%;
}

.btn-group.select .btn {
  text-align: left;
}

.btn-group.select .caret {
  position: absolute;
  top: 50%;
  margin-top: -1px;
  right: 8px;
}

.form-control::-moz-placeholder {
  color: #DDDDDD;
  opacity: 1;
  filter: alpha(opacity=100);
}

.form-control:-moz-placeholder {
  color: #DDDDDD;
  opacity: 1;
  filter: alpha(opacity=100);
}

.form-control::-webkit-input-placeholder {
  color: #DDDDDD;
  opacity: 1;
  filter: alpha(opacity=100);
}

.form-control:-ms-input-placeholder {
  color: #DDDDDD;
  opacity: 1;
  filter: alpha(opacity=100);
}

.form-control {
  background-color: #fffcf5;
  border: medium none;
  border-radius: 4px;
  color: #66615b;
  font-size: 16px;
  transition: background-color 0.3s ease 0s;
  padding: 7px 18px;
  height: 40px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-control:focus {
  background-color: #FFFFFF;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0 !important;
}
.has-success .form-control, .has-error .form-control, .has-success .form-control:focus, .has-error .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}


.nav > li > a:hover,
.nav > li > a:focus {
  background-color: transparent;
}

.navbar {
  border: 0;
  font-size: 16px;
  padding: 10px;
  z-index: 3;
}
.navbar .navbar-brand {
  font-weight: 600;
  margin: 5px 0px;
  padding: 20px 15px;
  font-size: 22px;
}


#register-navbar a {
  color: #FFF;
}

.register-background {
  background-image: url("../images/background-img.jpg");
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.register-background .filter-black::after {
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.register-background .container {
  margin-top: 8%;
  position: relative;
  z-index: 3;
}

.register-footer {
  bottom: 20px;
  color: #fff;
  position: absolute;
  z-index: 3;
  width: 100%;
}

.register-footer .fa-heart {
  color: #EB5E28;
}

.register-card {
  background-color: #d2c634;
  border-radius: 8px;
  color: #a56513;
  max-width: 360px;
  margin: 0 0 90px;
  min-height: 400px;
  padding: 30px;
}

.register-card label {
  margin-top: 15px;
}

.register-card .title {
  color: #a56513;
  text-align: center;
}

.register-card .btn {
  margin-top: 30px;
}

.register-card .havelogin{
  text-align: center;
  margin-bottom: -22px;
}

.register-card .forgot{
  text-align: center; 
}

/*Media Query*/

@media only screen and (max-width: 500px) {
  .register-card {
    margin: 50px 0 70px;
  }
}